In [1]:
import pandas as pd

df = pd.read_csv('fran_val.csv')
df

                     Team Franchise Value in M
0        New York Yankees                6,000
1     Los Angeles Dodgers                4,075
2          Boston Red Sox                3,900
3            Chicago Cubs                3,800
4    San Francisco Giants                3,500
5           New York Mets                2,650
6     St. Louis Cardinals                2,450
7   Philadelphia Phillies                2,300
8      Los Angeles Angels                2,200
9          Atlanta Braves                2,100
10          Texas Rangers                2,050
11   Washington Nationals                2,000
12         Houston Astros                1,980
13      Toronto Blue Jays                1,780
14      Chicago White Sox                1,760
15       Seattle Mariners                1,700
16       San Diego Padres                1,575
17         Detroit Tigers                1,400
18        Minnesota Twins                1,390
19       Colorado Rockies                1,385
20   Arizona Diamondbacks                1,380
21      Baltimore Orioles                1,375
22     Pittsburgh Pirates                1,320
23    Cleveland Guardians                1,300
24      Milwaukee Brewers                1,280
25        Cincinnati Reds                1,190
26      Oakland Athletics                1,180
27     Kansas City Royals                1,110
28         Tampa Bay Rays                1,100
29          Miami Marlins                  990

In [ ]:
# Implement K-Means
from sklearn.cluster import KMeans